<ion-header>
  <ion-navbar color="primary">
    <ion-title></ion-title>
    <ion-buttons left>
      <ion-icon name="locate" color="white"></ion-icon><ion-badge>{{ (gpsStream | async)?.satellites_visible }}</ion-badge>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only (click)="backgroundMode = 'map'" *ngIf="backgroundMode == 'video'" round>
        <ion-icon name="map"></ion-icon>
      </button>

      <button ion-button icon-only (click)="backgroundMode = 'video'" *ngIf="backgroundMode == 'map'" round>
        <ion-icon name="videocam"></ion-icon>
      </button>
      <button ion-button (click)="altHoldMode()" color="white" outline>Alt Hold</button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button (click)="loiterMode()" color="white" outline>Loiter</button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button (click)="autotuneMode()" color="white" outline>AutoTune</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content >

  <canvas id="video" [hidden]="backgroundMode != 'video'"></canvas>
  <div id="map" [hidden]="backgroundMode !== 'map'"></div>

  <div id='joystickLeft'></div>
  <div id='joystickRight'></div>
</ion-content>
